a {
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

body {
  background-color: #f5f7fa;
  font-family: "Montserrat", sans-serif;
}

.main-section {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 0 auto;
  /* box-shadow: 6px 6px 20px rgba(197, 6, 6, 0.246); */
  justify-content: flex-end;
  border-radius: 20px;
}

/*================== Main content section ===================*/
.main-content-section {
  padding: 50px 90px;
  font-style: normal;
}
.main-content-title {
  text-transform: uppercase;
  font-weight: bold;
  /* text-align: center; */
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 15px;
}

/*================== About me section ==================*/
.about-me-title {
  padding-top: 20px;
  /* border-top: 1px solid #59595988; */
}
.about-me-section {
  /* background-color: rgb(146, 178, 191); */
  position: relative;
  margin-bottom: 30px;
}
.about-me-profession {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  color: #000;
  margin: 0 0 10px 0;
}
.my-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin-bottom: 25px;
}
.about-me-desription {
  padding: 0 0 20px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  /* border-bottom: 1px solid #59595988; */
}

/*================= My Projects section =====================*/
.my-projects-section {
  margin-bottom: 30px;
}
.my-projects-list {
  
  list-style: none;
}
.my-projects-item {
  padding-left: 18px;
  padding-bottom: 20px;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  
}

.my-projects-item:not(:last-child) {
  margin-bottom: 20px;
  border-bottom: 1px dotted rgb(146, 178, 191);
}

.my-projects-link {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: rgb(85, 139, 148);
  text-decoration: underline;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    font-weight 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    text-decoration 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.my-projects-link:hover {
  color: rgb(146, 178, 191); 
  font-weight: bold;
  text-decoration: none;
}

.project-link-code {
  display: block;
  /* text-align: right; */
  color: #595959;
  text-decoration: underline;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    font-weight 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    text-decoration 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.project-link-code:hover,
.project-link-code:focus {
  color: rgb(146, 178, 191);
  font-weight: bold;
  text-decoration: none;
}

.my-projects-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/*============== My Work Expiriense ===============*/
.my-work-expiriense-section {
  /* border-bottom: 1px solid #59595988; */
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.work-expiriense-title,
.university-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
}
.my-work-expiriense-company-block {
    padding-left: 5px;
    margin: 0 0 15px 0;
}
.my-work-expiriense-company {
  color: rgb(85, 139, 148);
}

.subject-title,
.expiriense-period {
  padding-left: 5px;
}

.expiriense-period {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0;
}
.work-expiriense-divider {
  color: rgb(85, 139, 148);
}
.my-work-expiriense-dyties {
  padding: 0 0 0 18px;
}
.my-work-expiriense-dyti {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}


/*================ My Education ================*/
.my-education {
  margin-bottom: 30px;
  /* border-bottom: 1px solid #59595988; */
  /* padding-bottom: 10px; */
}
.university-title {
  color: rgb(85, 139, 148);
  font-size: 16px;
}
.subject-title,
.university-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
}
.subject-title {
  margin-bottom: 5px;
}
.last-item{
  margin-bottom: 10px;
}

/*=============== Sidebar section ===============*/

.sidebar-section {
  background: radial-gradient(rgb(85, 139, 148), rgb(146, 178, 191));
  width: 370px;
  padding: 0 0;
  color: #ffffff;
  font-style: normal;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.sidebar_img {
  border-top-left-radius: 20px;
}
.contacts-section,
.tech-skills-section,
.soft-skills-section,
.language-skills-section {
  margin: 30px 0 0 40px;
}
.sidebar-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 10px;
}

/*================= Contacts ==================*/
.contacts-section-type,
.contacts-section-link {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}
.contacts-section-link {
  font-weight: normal;
  color: #fff;
  opacity: 1;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    text-decoration 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.contacts-section-link:hover {
  color: black;
  opacity: 0.75;
  text-decoration: underline;
}
/* .contacts-section-type {
  font-weight: bold;
  margin-right: 5px;
} */


/*================= Tech & Soft skills ================*/

.tech-skills-list,
.soft-skills-list,
.language-skills-list {
  padding: 0 0 0 17px;
}
.tech-skills-list-item,
.soft-skills-list-item,
.language-skills-list-item {
  color: #5a5958fd;
  margin-left: 5px;
}
.tech-skills-list-item-text,
.soft-skills-list-item-text,
.language-skills-list-item-text {
  color: #fff;
}

/*================= Language skills ===================*/

.language-skills-list {
  list-style: none;
}
.language-skills-list-item {
  font-weight: bold;
}
.language-skills-list-item-text{
  font-weight: normal;
}
.english-link {
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  opacity: 0.5;
  text-decoration: 4px underline #fb6d3a;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    font-weight 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    font-size 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    text-decoration 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  
}

.english-link:hover {
  color: black;
  font-weight: bold;
  font-size: 17px;
  text-decoration: 4px underline #fff;
}

.lang-item-text {
  color: #fff;
}


/*==========================================< CERTIFICATE PAGE >=========================================*/
.certificate-page-section {
  margin-bottom: 20px;
}

.back-btn {
  font-weight: bold;
  position: absolute;
  top: -6px;
  left: 0;
  background-color: #fff;
  color: black;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #fb6d3a;
  border-radius: 10px;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
  background-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.back-btn:hover {
  background-color:#fb6d3a;
  color: #fff;
}

/* .image-section {
} */
.image-ket {
  border: solid #fb6d3a;
}

.ket-page-title {
  text-align: end;
  font-size: 20px;
  margin: 0;
}

/*================ Language skills ===================*/

.language-skills-section{
  margin-bottom: 20px;
}

.language-skills-list {
  padding-left: 6px;
}
.language-skills-list-item {
  margin-left: 0;
  font-size: 13px;
  color: #fff;
}
.language-skills-list-item:not(:last-child) {
  margin-bottom: 5px;
}
.language-skills-list-item-text {
  color: #fff;
  opacity: 0.9;
}